<!DOCTYPE html>
<html lang="en">
    <%- include( 'partials/head.ejs')  %>
<body>
    <%- include( 'partials/nav.ejs' ,)  %>

    <h1 class=" category-h1"><%= category.charAt(0).toUpperCase() + category.slice(1) %> Reviews</h1>
    <h2 class="category-h2">Help with interviews in the Tech Space</h2>

    <main class="category-container">
        <div>
            <% for(let i = 0; i<findReview.length; i++){ %>
                <a href="/bravado/<%= category %>/<%= findReview[i].id %>"><%= findReview[i].user %> <%= findReview[i].title %></a>
            <% } %> 
        </div>
    </main>
</body>
</html>