<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Car Auction</title>
    <link rel="stylesheet" href="/styles/show/style.css">
</head>
<body>
    <nav class="navbar">
        <div>
            <a href="/"> Home </a> | 
            <a href="/bravado/newSubmission"> New Post </a> |
            <a href="/bravado/<%= userSubmission.category %>/<%= userSubmission.id %>/edit"> Edit Post </a> |
            <a href="/bravado/<%= userSubmission.category %>/<%= userSubmission.id %>/comment"> Leave Comment </a> |
        </div>
    </nav>

    <h1><%= userSubmission.title %></h1>
    <h2>by <%= userSubmission.user %></h2>

    <div>
        <p><%= userSubmission.post %></p>
    </div>

    <div>
        <p class="control">
            <form action="/bravado/<%= userSubmission.category %>/<%= userSubmission._id %>?_method=DELETE" method="POST">
                    <input class="button is-danger" type="submit" value="Delete Post"/>                    
            </form>
        </p>
    </div>

    <main class="container">
        <ul>
            <% for(let i = 0; i<userSubmission.comments.length; i++){ %>
                <li><%= userSubmission.comments[i].post %></li>
            <% } %> 
        </ul>
    </main>

                    <!-- form for comments -->
    <form action="/bravado" method="POST">

        <label for="user">Username</label>
        <div>
            <input
              type="text"
              placeholder="Default"
              name="user"
              id="user"
            />
        </div>

        <label for="post">Leave a Comment</label>
        <div>
              <textarea
                type="text"
                placeholder="Say Something!"
                name="post"
                id="post"
              ></textarea>
        </div>
             <button class="button is-info">Comment</button>
     </form>

</body>
</html>