<!DOCTYPE html>
<html lang="en">
    <%- include( 'partials/head.ejs')  %>
<body>
    <%- include( 'partials/nav.ejs' ,)  %>
    <nav class="show-navbar">
        <div>
            <a href="/bravado/<%= userSubmission.category %>/<%= userSubmission.id %>/edit"> Edit Post </a> 
        </div>
    </nav>

    <h1 class="category-h1"><%= userSubmission.title %></h1>
    <h2 class ="category-h2">by <%= userSubmission.user %></h2>

    <div>
        <p><%= userSubmission.post %></p>
    </div>

    <div>
        <p class="control">
           <% if(oneUser.username == userSubmission.user || oneUser.username == 'admin') {%>
            <form action="/bravado/<%= userSubmission.category %>/<%= userSubmission._id %>?_method=DELETE" method="POST">
                    <input class="button is-danger" type="submit" value="Delete Post"/>                    
            </form>
            <% } %>
            <!-- <a href="/bravado/<%= userSubmission.category %>/<%= userSubmission.id %>/comment"> Add a Comment </a> -->
        </p>
    </div>

    <main class="container">
        <ul>
            <% for(let i = 0; i<userSubmission.comments.length; i++){ %>
                <li><%= userSubmission.comments[i].user %> - <%= userSubmission.comments[i].post %></li>
            <% } %> 
        </ul>
    </main>

    <% if(typeof user !== 'undefined') {%>
    <h1>Hello, <%= user.username %>!</h1>
    <% } %>

    <!-- form for comments -->
           <form action="/bravado/<%= category %>/<%= submissionId %>" method="POST">
   
               <!-- <label for="user">Username</label> -->
               <div>
                   <input
                     type="hidden"
                     placeholder="Default"
                     name="user"
                     id="user"
                   />
               </div>
       
               <label for="post">Leave a Comment</label>
               <div>
                     <textarea
                       type="text"
                       placeholder="Say Something!"
                       name="post"
                       id="post"
                     ></textarea>
               </div>
       
                <button class="button is-info">Comment</button>
            </form>


</body>
</html>